<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>

{#        <link rel="stylesheet" href="https://bootswatch.com/4/flatly/bootstrap.min.css">#}
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
{#        <link rel="stylesheet" href="/assets/css/styles.css">#}

        {% block stylesheets %}{{encore_entry_link_tags('app')}} {% endblock %}

    </head>

    <body>
        <header>
              <nav>
                  <ul class="d-flex justify-content-between align-middle p-1">
                        <li><img src="images/AVLOGO.png" alt="logo info-vins" id="logo-img"></li>
            			<li><a href="{{ path('home') }}">Accueil</a></li>
            			<li><a href="{{ path('map') }}">Carte des domaines</a></li>
            			<li><a href="{{ path('info') }}">A propos</a></li>
            			<li><a href="{{ path('contact') }}">Contact</a></li>
                        <li><a href="{{ path('app_login') }}"></a></li>
                  </ul>
              </nav>
        </header>

        {% block body %}{% endblock %}

        {% block javascripts %}{% endblock %}

        <footer class="pt-4">
          <div class="container d-flex justify-content-between">
              <div class="flex-column ">
                  <h5 class="text-uppercase mb-4 font-weight-bold">À Propos</h5>
                  <div class="text-black-50">
                      <p>Sommelière</br>
                      Formatrice</br>
                      Commerciale </p>
                  </div>
              </div>

              <div class="flex-column ">
                  <h5 class="text-uppercase mb-4 font-weight-bold">Atous Vins</h5>
                  <div class="text-black-50">
                      <p>Partenaire vins,</br>
                      Champagnes et spiritueux</br>
                      pour les restaurants,</br>
                      cavistes, traiteurs.</p>
                  </div>
              </div>

              <div class="flex-column">
                  <h5 class="text-uppercase mb-4 font-weight-bold">Contact</h5>
                  <div class="text-black-50">
                      <p><i class="fa fa-envelope-o "></i> contact@atout-vins.fr</p>
                      <p><i class="fa fa-phone" ></i> 06-10-79-15-92</p>
                      <address>19 Rue du Bout du Plot </br> 63800 Cournon D'auvergne</address>
                  </div>
              </div>

              <div class="flex-column ">
                   <h5 class="text-uppercase mb-4 font-weight-bold">Réseaux Sociaux</h5>
                   <div class="text-black-50">
                       <p><a href="https://fr.linkedin.com/in/jenny-villani-aa8324116"><i class="fa fa-linkedin"></i> Jenny Villani</a></p>
                       <p><a href="https://fr-fr.facebook.com/atoutvins/"><i class="fa fa-facebook-square"></i> Atout Vins</a></p>
                   </div>
              </div>
          </div>
        </footer>

        <div>© 2019 Copyright: <a href=" #" class="text-black"> www.atout-vins.fr</a></div>
    </body>
</html>
